.row
  .col-md-2
    label {{ct.label}}
    .btn.btn-default(ng-class='{active: ct.locked}',ng-click='ct.toggleLock()')
      i.glyphicon.glyphicon-lock
  .col-md-8
    percent-slider(percent='ct.percent',locked="ct.locked",max='ct.max')
  .col-md-2
    percent-field(percent='ct.percent',locked="ct.locked",max='ct.max')
